.KanjiCard {
    background-color: white;
    border: 1px solid black;
    width: 250px;
    text-align: center;
    padding: 0.75rem 0 0 0;
    box-shadow: 2px 2px grey;
    margin: 1rem;
}

h3 {
    font-size: 4rem;
    text-align: center;
}

.card-display-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
}
.on {
    color: gold;
}
.off {
    color: #ccc;
}

h2 button {
    margin-right: 1rem;
}

html {
    background-image: url("../sources/Vincent_van_Gogh_-_Almond_blossom_-_Google_Art_Project-1920x1200.jpg")
}

body {
    border: solid black 1px;
    margin: 0 5%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 0.5px;
    background-color: cornsilk;
}

header {
    display: flex;
    flex-direction: column;

    height: 20px;
}

.header-container {
    background-color: rgb(86, 118, 110);
}

.header-container input {
    justify-items: center;
    align-items: center;
    margin: 0.5rem 0 0.5rem 1rem;
}
.header-container p {
    margin-left: 1rem;
}
h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0;
    font-weight: bold;
    color: cornsilk;
}

nav {
    margin-bottom: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(112, 161, 166);
    text-shadow: 0.5px 0.5px rgb(245, 183, 193);
}

.sub-heading {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.footer-container {
    background-color: rgb(86, 118, 110);
    padding: 0.5rem;
}

/* AllKanji */
.Dropdown-root {
    margin: 0 0 1rem 1rem;
    border: 1px solid black;
    max-width: 150px;
}
.Dropdown-control {
    padding: 0.25rem 0 0.25rem 0.5rem;
    background-color: rgb(113, 142, 125);
}

.Dropdown-option {
    margin-left: 0.75rem;
    margin-bottom: 0.1rem;
}

button {
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.button-container button {
    font-size: 10px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.kanji div {
    margin: 0 0.5rem 2rem 0.5rem;
    letter-spacing: 0.15em;
}

label {
    margin-left: 1rem;
}

@media (min-width: 375px) {
    .header-container input {
        margin: 0.5rem 0 0.5rem 1rem;
    }
    .button-container button {
        font-size: 12px;
        margin: 0 0.5rem 0 0.5rem;
    }
}